@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&family=Open+Sans:wght@355&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Noto Sans Lao", sans-serif;
}
:root {
        --text-color: #add8e6a8;
        --bg-color: #000000;
        --mani-color: #541b1bf9;
        --h1-font: 6rem;
        --h2-font: 3rem;
        --p-font: 1rem;
}
body{
    background-color: #000000;
}
.bk_about{
    background:linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1)),
    url(img/bk_about.png);
    width: 99.9%;
    background-size: cover;
    background-position: bottom center;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

span {
    color: var(--mani-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: #ffffff;
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 30px;
    transition: all .50s ease;
    padding: 15px;
}

.navbar a:hover {
    color: var(--mani-color);
}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a:first-child {
    color: #fffcfc;
    font-size: var(--p-font);
    margin-right: 20px;
}

.h-right a {
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}

.h-right a:hover {
    color: var(--text-color);
    transform: translateY(-3px);
}

#menu-icon {
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.About{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About .content img{
    height: auto;
    width: 400px;
    max-width: 95%;
    border-radius: 40px;
}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
    color: var(--mani-color);
    font-size: 85%;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text h5{
    color: white;
    font-size: 40px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.text p{
    color: #c0c4d6;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 20px;
}
.text h3{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
