@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&family=Open+Sans:wght@355&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Noto Sans Lao", sans-serif;
}
:root {
        --text-color: #add8e6a8;
        --bg-color: #000000;
        --mani-color: #541b1bf9;
        --h1-font: 6rem;
        --h2-font: 3rem;
        --p-font: 1rem;
}

body {
        color: var(--text-color);
        background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

span {
    color: var(--mani-color);
}
.navbar {
    display: flex;
}

.navbar a {
    color: #ffffff;
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 30px;
    transition: all .50s ease;
    padding: 15px;
}

.navbar a:hover {
    color: var(--mani-color);
}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a:first-child {
    color: #ffffff;
    font-size: var(--p-font);
    margin-right: 20px;
}

.h-right a {
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}

.h-right a:hover {
    color: var(--text-color);
    transform: translateY(-3px);
}

#menu-icon {
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section {
    padding: 70px 17% 60px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)),
        url('img/index.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 170px;
    text-align: center;
}
.home-text h6{
    padding: 15px;
    font-size: 25px;
}