@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&family=Open+Sans:wght@355&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Noto Sans Lao", sans-serif;
}
:root {
        --text-color: #add8e6a8;
        --bg-color: #000000;
        --mani-color: #541b1bf9;
        --h1-font: 6rem;
        --h2-font: 3rem;
        --p-font: 1rem;
}

.home{
    color: var(--text-color);
    background: var(--bg-color);
    background:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1)),
    url(img/bk_about.png);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 70vh;
    width: 100%;
}

.home1{
    color: var(--text-color);
    background: var(--bg-color);
    background:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1)),
    url(img/bk_about.png);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 80vh;
    width: 100%;
}

.home2{
    color: var(--text-color);
    background: var(--bg-color);
    background:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1)),
    url(img/bk_about.png);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 50vh;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

span {
    color: var(--mani-color);
}
.navbar {
    display: flex;
}

.navbar a {
    color: #ffffff;
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 30px;
    transition: all .50s ease;
    padding: 15px;
}

.navbar a:hover {
    color: var(--mani-color);
}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a:first-child {
    color: #fffcfc;
    font-size: var(--p-font);
    margin-right: 20px;
}

.h-right a {
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}

.h-right a:hover {
    color: var(--text-color);
    transform: translateY(-3px);
}

#menu-icon {
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section {
    padding: 70px 17% 60px;
}


.feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem
}

.feature1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem
    
}

.feature2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.feature-text{
    padding: 18px;
    background-color: #404040;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.feature1 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.feature1-text{
    padding: 30px;
    background-color: #404040;
    border-radius: 50px;
    color: rgb(0, 0, 0);
}

.feature2 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.feature2-text{
    padding: 30px;
    background-color: #404040;
    border-radius: 50px;
    color: rgb(0, 0, 0);
}

.home1 .feature1{
    margin-bottom: 600px;
}
.home2 .feature2{
    margin-bottom: 629px;
}
